body {
  margin: 0;
  overflow: hidden;
}

.allContent {
  display: flex;
  flex-direction: row;
}

.infoBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: red;

  width: 340px;
  gap: 10px;
  z-index: 2;
}

.squareTest {
  width: 10px;
  height: 10px;
  background-color: greenyellow;
}

.logo {
  background-color: aqua;
  height: 280px;
  width: 220px;
  margin-top: 20px;
}

.divider {
  height: 10px;
  width: 90px;
  background-color: gold;
}

.language {
  background-color: blueviolet;
  height: 40px;
  width: 45px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: 10px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

.pageContent {
  background-color: blue;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.breadContainer {
  top: 35%;
  position: absolute;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 50px;
  z-index: 0;
}

.breadContent {
  /*background-color: brown;*/
  width: 405px;
  height: 565px;
  background-repeat: no-repeat;
  background-size: contain;
}

.smallBreadContent {
  /*background-color: darkred;*/
  height: 420px;
  width: 300px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrowRight {
  height: 210px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.74);
  position: absolute;
  right: 0%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  background-position: center;
  background-image: url(img/arrowL.png);
}

.arrowLeft {
  height: 210px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.74);
  position: absolute;
  left: 0%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/arrowL.png);
}

.title {
  position: absolute;
  height: 100px;
  width: 800px;
  background-color: crimson;
  top: 10%;
  left: 0%;
  z-index: 10;
}

.upBar {
  background-color: yellow;
  width: auto;
  height: 20px;
}
