body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.allContent {
  display: flex;
  flex-direction: row;
}

.infoBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #010203;

  width: 340px;
  gap: 10px;
  z-index: 3;
}
.categories {
  margin-top: 30px;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /*background-color: blueviolet;*/
  gap: 15px;
}
.textContainer {
  font-family: "Krona One";
  font-size: 26pt;
  color: beige;
}
.squareTest {
  width: 10px;
  height: 10px;
  background-color: greenyellow;
}

.logo {
  /*background-color: aqua;*/
  height: 280px;
  width: 220px;
  margin-top: 20px;
  background-image: url(img/Logologo.png);
}

.divider {
  height: 30px;
  width: 270px;
  /* background-color: gold;*/
  background-image: url(img/div\ 1.png);
}
.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 180px;
}
.language {
  /*
  background-color: blueviolet;*/
  height: 65px;
  width: 60px;
  /*margin-left: auto;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: 10px;*/
  margin-left: 60px;
  background-image: url(img/Languaje.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.info {
  /*
        background-color: blueviolet;*/
  height: 185px;
  width: 180px;
  /*margin-right: auto;
  margin-top: auto;
  margin-bottom: 10px;
  margin-left: 10px;*/
  background-image: url(img/info.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.pan {
  color: #edae49;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}
.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  height: inherit;
  background-image: url(img/breadfire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  filter: blur(7px) brightness(60%);
}
.pageContent {
  /*background-color: black;*/
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /*background-image: url(img/breadfire.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(7px);*/
  z-index: 2;
}

.breadContainer {
  top: 35%;
  position: absolute;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 70px;
  z-index: 0;
}

.breadContent {
  /*background-color: brown;*/
  width: 405px;
  height: 565px;
  background-repeat: no-repeat;
  background-size: contain;
}

.smallBreadContent {
  /*background-color: darkred;*/
  height: 420px;
  width: 300px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.arrowRight {
  height: 210px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.74);
  position: absolute;
  right: 0%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  background-position: center;
  background-image: url(img/arrowL.png);
  cursor: pointer;
}
.arrowRight:active {
  background-color: rgba(0, 0, 0, 0.87);
  transform: translateX(5px) scale(-1);
}

.arrowLeft {
  height: 210px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.74);
  position: absolute;
  left: 0%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(img/arrowL.png);
  cursor: pointer;
}
.arrowLeft:active {
  background-color: rgba(0, 0, 0, 0.87);
  transform: translateX(-5px);
}

.title {
  color: beige;
  font-size: 27pt;
  position: absolute;
  height: 100px;
  width: 800px;
  background-color: #ad700e9a;
  top: 10%;
  left: 0%;
  z-index: 10;
  font-family: "Montserrat";
  padding-left: 35px;
}

.upBar {
  background-color: #edae49;
  width: auto;
  height: 20px;
  z-index: 3;
}
.textContainer:hover {
  color: #edae49;
  cursor: pointer;
}
